body {
  font-style: Helvetica;
  text-align: center;
  }
.Head ,
 #middle {
   background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.Head ,
 #middle ,
 #copyright ,
 .navigation ,
 a{
  color: white;
  font-size: 18px;
}
.keywords ,
  #middle {
  font-size: 23px;
  font-weight: bold;
}
#copyright {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
}
h1 {
  font-size: 70px ;
  font-weight: bold;
}
p {
  font-size: 14px;
  font-style: Helvetica;
}
.navigation{
  font-size: 18px;
}
